<form action="#" class="product">
  <div>
    Name: <input type="text" name="name" value="{{title}}">
  </div>
  <div>
    Hobby: <input type="text" name="hobby" value="{{description}}">
  </div>
  <div>
    image URL: <input type="text" name="image" value="{{imgURL}}">
  </div>
  <button>Submit</button>
</form>